.input_wrapper
{
    width: 100%;
    height: auto;
    margin: 0rem;
    padding: 0rem;
    font: $regular-weight $regular-size $sans-font, sans-serif;

    grid-column: span 2;

    &.half
    {
        grid-column: span 1;
    }
    
    position: relative;

}

.input_label
{
    margin: none;
    font: $medium-weight $Little-size $sans-font, sans-serif;
    opacity: 0%;
    transition: 0.3s;

    
    &.shown
    {
        transition: 0.3s;
        opacity: 100%;

        @include themify()
        {
            color: themed("grey-8");
        }
    }
}

textarea
{
    resize: none;
}


textarea, input[type=text]
{
    border: 0;
    width: 100%;
    padding: 1rem;

    font: $regular-weight $regular-size $sans-font, sans-serif;
    
    transition: background-color ease 0.3s;
    
    @include themify()
    {
        color: themed("primary");
        background-color: themed("grey-1");
        outline-color: themed("primary");
    }
    
    // &::placeholder
    // {
    //     @include themify()
    //     {
    //         color: themed("grey-4");
    //     }
    //     font: $regular-weight $regular-size $sans-font, sans-serif;
    // }
    
    &:focus
    {
        outline-width: 0.1rem;
        outline-style: solid;
        outline-offset: -0.1rem;
    }
    
    &:hover
    {
        @include themify()
        {
            background-color: mix(themed('grey-1'), themed('primary'), 97%);
        }
    }
}