#admin
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 3rem;
    padding: 0rem;
}

.admin_title
{
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 100%;

    margin-bottom: 5rem;

    &::after, &::before
    {
        content: "";
        flex: 1;
        @include themify()
        {
            background-color: themed('grey-300');
        }
        height: 1px;
        width: 50%;
    }
    &::before{margin-right: 3rem;}
    &::after{margin-left: 3rem;}
}

#admin_banner
{
    width: 100%;
    #banner
    {
        width: 100%;
        margin: 0rem;
        padding: 3rem;
        .banner_wrapper
        {
            padding: 0rem; // 4rem 3rem 4rem;
            .banner_buttons
            {
                :nth-child(n)
                {
                    padding: 0.7rem;
                    font-size: $little-size;
                    margin-right: 1.5rem;
                }
            }    
            .pre
            {
                font-size: $small-size;
            }
            
            .my_name
            {
                font-size: $large-size;
            }
            
            .my_title
            {
                font-size: $large-size;
                margin-bottom: 2rem;
            }
            
        }
    }
    
    .edit_banner
    {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 0.5fr repeat(4, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;
        padding: 3rem;
        border-radius: $radius-regular;

        h3
        {
            margin-top: 0rem;
            margin-bottom: 2rem;
            grid-column: span 2;
            font: $semi-weight $medium-size $sans-font, sans-serif;
            justify-self: start;
        }
        .confirmbtn
        {
            margin: 2rem 0rem 0rem 0rem;
            justify-self: end;
            align-self: center;
        }
        
        .message
        {
            justify-self: start;
            align-self: center;
            margin: 2rem 0rem 0rem 0rem;
            font: $regular-weight $regular-size $sans-font, sans-serif;
        }

        @include themify()
        {
            h3 
            {
                color: themed('grey-900');
            }
            .message
            {
                color: themed('success');
                &.error 
                {
                    color: themed('error');
                }
                
            }
            // border: 0.1rem solid themed('grey-500');
            background-color: themed('grey-150');
        }
    }
}