#footer
{
    width: 100%;
    margin: 5rem auto auto;
    padding-bottom: 5rem;
    height: 5rem;
    
    .footer_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem 1rem;

        @include themify()
        {
            color: themed('grey-500');
        }
        
        &::before
        {
            content: "";
            order: 1;
            transition: background-color $trans-effect $trans-regular;
            @include themify()
            {
                background-color: themed('grey-300');
            }
            height: 0.5px;
            width: 80%;
        }
        
        .footer_label
        {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            gap: 0.3rem;
            cursor: pointer;
            text-decoration: none;
            opacity: 80%;
            transition: color $trans-regular $trans-effect;
            
            * { transition: none; }
            
            &:hover
            {
                @include themify()
                {
                    color: themed('primary');
                }
            }
        }
    }
}