#footer
{
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 5rem;
    height: 5rem;
    
    .footer_wrapper
    {
        margin: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include themify()
        {
            color: themed('grey-500');
        }
        
        &::before
        {
            content: "";
            order: 1;
            @include themify()
            {
                background-color: themed('grey-300');
            }
            height: 1px;
            width: 70%;
        }
        
        .footer_label
        {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            gap: 0.3rem;
            font: $semi-weight $little-size $mono-font, monospace;
            cursor: pointer;
            text-decoration: none;
            opacity: 80%;
            transition: color $trans-regular $trans-effect;
            &:hover
            {
                @include themify()
                {
                    color: themed('primary');
                }
            }
        }
    }
}