#pseudo_header
{
    height: $gigantic-size;
    flex: 0 0 auto;
    margin-bottom: $large-size;
}

#header
{
    height: $gigantic-size;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0rem;
    
    transition: all $trans-effect $trans-fast;
    
    &.scrolling
    {
        height: $huge-size;
    }

    .header_wrapper
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;    
    }

    .header_title
    {
        border-radius: $radius-regular;
        margin: 0rem;
        padding: 1rem;
        user-select: none;
        &:hover
        {cursor: pointer;}
        a
        {text-decoration: none;}
        
    }
    
    .header_list 
    {
        margin: 0rem;
        padding: 0rem;
        overflow: hidden;
        display: inline-flex;
        flex-direction: row;
        gap: 2rem;
        
        @include media("<=tablet")
        {
            display: none;
        }
    }
    
    .header_item
    {
        border-radius: $radius-regular;
        list-style-type: none;
        user-select: none;
        cursor: pointer;
        display: inline;
        padding: 1rem 1rem;
        counter-increment: inst;
    }

    .header_drawer
    {
        display: none;

        @include media("<=tablet")
        {
            padding: 0rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 0rem;

            .header_item
            {
                padding: 2rem;
            }
            justify-content: start;

        }
    }



    @include themify 
    {
        .header_wrapper .header_title,
        .header_list .header_item
        {
            color: themed("grey-700");
            border: 1px solid transparent;
            transition: color $trans-effect $trans-regular, border-color $trans-effect $trans-regular;

            &:hover
            {
                color: themed("primary");
                border-color: currentColor;
            }
            &:focus-visible
            {
                outline: themed("secondary") dashed 2px;
            }
            &:active:focus, &:active
            {
                transition: none;
                color: themed("secondary");
            }

            &.selected_path
            {
                color: themed("secondary");
                border-color: currentColor;
            }
        }


        
        .sign_out
        {
            &:hover
            {
                color: themed("error") !important;
            }
            &:active
            {
                color: mix(themed("error"), themed("warning"), 50%) !important;
            }
        }

        
        background-color: transparent;
        box-shadow: none;
        &.scrolling, &.open
        {
            box-shadow: $header-box-shadow;
            background-color: themed("grey-200");
        }
        .header_drawer
        {
            background-color: themed("grey-200");
        }
    }
}