#pagenotfound
{
    text-align: center;
    .title
    {
        transition: color $trans-effect $trans-regular;
        margin-bottom: 0;
    }
    
    .subtitle
    {
        transition: color $trans-effect $trans-regular;
        margin-top: 0;
    }
    

    @include themify()
    {
        .title
        {
            color: themed('primary');
        }
        .subtitle
        {
            color: themed('grey-800');
        }
        
    }
}