/*
 * File: _section.scss
 * Author: Yusuf Saquib
 */
section 
{
    padding: 2rem 1rem;
    margin: auto;
    width: 80%;
    text-align: left;

    margin-bottom: 5rem;


    &.mini
    {
        padding: 0rem;
        margin: 0rem;
        width: 100%;
    }

    .sec_title
    {
        font: $bold-weight $large-size $serif-font, serif;
    }

    @include respond(phone)
    {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
  