// Section
section 
{
    padding: 2rem 1rem;
    margin: auto;
    width: 70%;

    .sec_title
    {
        font: 900 $medium-font-size 'Roboto Slab', serif;
    }

    @include respond(phone)
    {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
  