// Section
section 
{
    padding: 2rem 1rem;
    margin: auto;
    width: 70%;

    .sec_title
    {
        font: $bold-weight $medium-size $serif-font, serif;
    }

    @include respond(phone)
    {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
  