#admin
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    width: 100%;
    gap: 2rem;
    padding: 0rem;
}

.admin_title
{
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 100%;

    margin-bottom: 5rem;

    &::after, &::before
    {
        content: "";
        flex: 1;
        @include themify()
        {
            background-color: themed('grey-300');
        }
        height: 1px;
        width: 50%;
    }
    &::before{margin-right: 3rem;}
    &::after{margin-left: 3rem;}
}


.admin
{
    width: 100%;
    height: 100%;
    margin: 0rem;

    &.projects
    {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: span 2;
        gap: 3rem;
    }

    .edit
    {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr repeat(7, 0.5fr);

        gap: 1.5rem;
        padding: 3rem;
        border-radius: $radius-regular;

        &.banner
        {
            height: auto;
            grid-template-rows: 0.5fr repeat(4, 0.5fr);
            margin-top: 2rem;
        }
        &.about
        {
            .about_desc
            {
                grid-row: span 5 !important;
                margin: auto !important;
            }
        }
        &.projects
        {
            grid-template-rows: 0.5fr repeat(6, 0.5fr);
            grid-column: span 2;
            // align-items: start;
            // justify-items: start;
            align-content: start;
            .desc_textarea
            {
                grid-row: span 2;
            }
        }

        h3
        {
            margin-top: 0rem;
            margin-bottom: 2rem;
            grid-column: span 2;
            font: $semi-weight $medium-size $sans-font, sans-serif;
            justify-self: start;
            
        }
        .confirmbtn
        {
            margin: 2rem 0rem 0rem 0rem;
            justify-self: end;
            align-self: center;
        }
        
        .message
        {
            justify-self: start;
            align-self: center;
            margin: 2rem 0rem 0rem 0rem;
            font: $regular-weight $regular-size $sans-font, sans-serif;
        }

        @include themify()
        {
            h3 
            {
                color: themed('grey-900');
            }
            .message
            {
                color: themed('success');
                &.error 
                {
                    color: themed('error');
                }
                
            }
            // border: 0.1rem solid themed('grey-500');
            background-color: themed('grey-150');
        }
    }
}

#admin_banner
{
    #banner
    {
        @include themify(){border: 0.1rem solid themed('grey-900');}

        border-radius: $radius-regular;
        width: 100%;
        margin: 0rem;
        padding: 3rem;
        .banner_wrapper
        {
            padding: 0rem; // 4rem 3rem 4rem;
            .banner_buttons
            {
                :nth-child(n)
                {
                    padding: 0.7rem;
                    font-size: $little-size;
                    margin-right: 1.5rem;
                }
            }    
            .pre { font-size: $small-size; }
            
            .my_name{ font-size: $large-size; }
            
            .my_title { font-size: $large-size; margin-bottom: 2rem; } 
        }
    }
}

#admin_projects_list
{
    .projects_list
    {
        padding: 0rem;
        margin: 0rem;
        :not(:last-child)
        {
            margin-bottom: 1.5rem;
        }
    }
    .project_item
    {
        border-radius: $radius-regular;
        list-style-type: none;
        padding: 1.5rem;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &:hover
        {
            cursor: pointer;
        }
        
        .add
        {
            width: $large-size;
            height: $large-size;
            flex-grow: 3;
        }

        .project_item_title
        {
            margin: 0rem;
            font: $regular-weight $regular-size $sans-font, sans-serif;
        }
        .chevron
        {
            width: $medium-size;
            height: $medium-size;
        }
    }
    
    @include themify()
    {
        .project_item
        {
            transition: background $trans-effect $trans-regular, color $trans-effect $trans-regular;
            background-color: themed('grey-150');
            color: themed('grey-900');
            &:hover
            {
                background-color: themed('grey-200');
                color: themed('primary');
            }
            &.add
            {
                color: themed('grey-500');
                background-color: themed('grey-100');
                &:hover 
                {
                    color: themed('secondary');
                    background-color: themed('grey-150');
                }
            }
        }

    }
}