#blog_loader
{
    .title_loader
    {
        padding: 2.5rem 0rem;
        width: 60%;
        margin: 0 0 3rem 0;
    }

    .content_loader
    {
        height: 50vh;
        width: 100%;
    }

}

// #blog
// {

    
// }

#edit_blog
{
    .blog_title_field
    {
        font: $medium-weight $large-size $serif-font, serif;
        padding: 2rem;
        margin-bottom: 5rem;
        &:hover
        {
            @include themify() {background-color: themed('grey-150');}
        }
    }
}