#inbox
{

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    // width: 100%;
    height: 35vmax;
    padding: 0rem;
    // margin: 0rem;
    gap: 1.5rem;

    .loading_list
    {
        overflow: hidden !important;
    }
    
    #message_list
    {
        border-radius: $radius-regular;
        grid-column: span 7;
        padding: 1.2rem 1rem;
        margin: 0rem;
        overflow-y: auto;
        list-style-type: none;
        box-shadow: $inbox-shadow;

        :not(:last-child)
        {
            margin-bottom: 1rem;
        }

        .message_loader
        {
            box-shadow: none !important;
            width: 100%;
            height: 5rem;       
        }

        .message_li
        {
            // box-shadow: $messages-list-shadow;
            padding: 1.5rem;
            border-radius: $radius-regular;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .msgli
            {
                margin: 0rem;
                &.sender
                {
                    place-self: center start;
                    grid-column: span 1;
                    grid-row: span 1;
                    font: $bold-weight $regular-size $sans-font, sans-serif;
                }
                &.time
                {
                    place-self: center end;
                    text-align: right;
                    grid-column: span 1;
                    grid-row: span 1;
                    font: $medium-weight $little-size $sans-font, sans-serif;
                }
                &.subject
                {
                    place-self: center start;
                    grid-column: span 2;
                    grid-row: span 1;
                    font: $semi-weight $Little-size $sans-font, sans-serif;
                }
            }

            &:hover
            {
                cursor: pointer;
            }
        }
    }
    
    #message
    {
        border-radius: $radius-regular;
        box-shadow: $inbox-shadow;

        display: inline-flex;
        flex-direction: column;
        grid-column: span 13;
        padding: 1rem;

        font: $regular-weight $regular-size $sans-font, sans-serif;
        
        .msginfo
        {

            border-radius: $radius-regular;
            margin: 0rem 0rem 1rem;
            width: 100%;
            padding: 1.5rem;
            
            &.buttons
            {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0rem;
                padding: 0rem;
                gap: 1.5rem;
                .msgbtn
                {
                    border-radius: $radius-regular;
                    padding: 0.75rem;
                    font: $medium-weight $Little-size $sans-font, sans-serif;
                    display: grid;
                    place-content: center;
                    &:hover
                    {
                        cursor: pointer;
                    }
                }
            }
            &.content
            {
                overflow-y: auto;
                flex: 1 1 auto;
            }
        }
    }


    .empty_list, .empty_message
    {
        display: grid !important;
        place-content: center;
        font: $medium-weight $regular-size $sans-font, sans-serif;
    }

    @include themify()
    {

        .empty_list, .empty_message
        {
            color: themed("grey-700");
        }
        #message_list
        {
            background-color: themed("grey-150");
            
            .message_loader 
            {
                background-color: themed("grey-200");
                &::before
                {
                    color: mix(themed("grey-300"),themed("grey-200"),50%);
                }
            }

            .message_li
            {
                background-color: themed("grey-200");
                .msgli
                { 
                    color: themed("grey-800");
                }
                &:hover
                {
                    background-color: themed("grey-300");
                }
                &:active
                {
                    transition: none;
                    background-color: themed("grey-400");
                }
            }
            
            .message_li.new_msg
            {
                background-color: mix(themed("secondary"), themed("grey-000"), 40%);
                .msgli
                {
                    color: mix(themed("secondary"), themed("grey-900"), 20%);
                }
                &:hover
                {
                    background-color: mix(themed("secondary"), themed("grey-000"), 60%);
                }
                &:active
                {
                    transition: none;
                    background-color: mix(themed("secondary"), themed("grey-000"), 80%);
                }
            }

            .message_li.selected_msg
            {
                background-color: mix(themed("primary"), themed("grey-900"), 90%);
                .msgli
                {
                    color: mix(themed("primary"), themed("grey-000"), 10%);
                }
                &:hover
                {
                    background-color: mix(themed("primary"), themed("grey-900"), 70%);
                }
                &:active
                {
                    transition: none;
                    background-color: mix(themed("primary"), themed("grey-900"), 50%);
                }
            }
        }

        #message
        {
            background-color: themed("grey-150");
            color: themed("grey-900");
            .msginfo
            {
                background-color: themed("grey-200");
                &.buttons
                {
                    background-color: themed("grey-150");
                    .delete
                    {
                        background-color: mix(themed("error"), themed("grey-000"), 50%);
                        &:hover
                        {
                            background-color: mix(themed("error"), themed("grey-000"), 70%);
                        }
                        &:active
                        {
                            transition: none;
                            background-color: mix(themed("error"), themed("grey-000"), 80%);
                        }
                    }

                    .reply
                    {
                        background-color: mix(themed("success"), themed("grey-000"), 50%);
                        &:hover
                        {
                            background-color: mix(themed("success"), themed("grey-000"), 70%);
                        }
                        &:active
                        {
                            transition: none;
                            background-color: mix(themed("success"), themed("grey-000"), 80%);
                        }
                    }

                }
            }
        }
    }
}