#inbox
{

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 100%;
    height: 35vmax;
    padding: 0rem;
    margin: 0rem;
    gap: 1.5rem;
    
    #message_list
    {
        border-radius: $radius-regular;
        grid-column: span 7;
        padding: 1.2rem 1rem;
        margin: 0rem;
        overflow-y: auto;
        list-style-type: none;
        box-shadow: $inbox-shadow;

        :not(:last-child)
        {
            margin-bottom: 1rem;
        }

        .message_loader
        {
            box-shadow: none !important;
            width: 100%;
            height: 5rem;       
        }

        .message_li
        {
            box-shadow: $messages-list-shadow;
            padding: 1.5rem;
            border-radius: $radius-regular;

            .message_subject
            {
                margin: 0rem;
                margin-bottom: 0.5rem;
                font: $semi-weight $regular-size $sans-font, sans-serif;
            }
            .message_sender
            {
                font: $medium-weight $Little-size $sans-font, sans-serif;
                margin: 0rem;
            }

            &:hover
            {
                cursor: pointer;
            }
        }
    }
    
    #message
    {
        border-radius: $radius-regular;
        box-shadow: $inbox-shadow;

        grid-column: span 13;
        background: green;
    }

    @include themify()
    {
        #message_list
        {
            background-color: themed("grey-150");
            
            .message_loader 
            {
                background-color: themed("grey-200");
                &::before
                {
                    color: mix(themed("grey-300"),themed("grey-200"),50%);
                }
            }

            .message_li
            {
                background-color: themed("grey-200");
                .message_subject
                { color: themed("grey-800"); }

                .message_sender
                { color: themed("grey-700"); }
                
                &:hover
                {
                    background-color: themed("grey-300");
                }
                &:active
                {
                    transition: none;
                    background-color: themed("grey-400");
                }
            }

            .message_li.new_msg
            {
                background-color: mix(themed("secondary"), themed("grey-000"), 40%);
                .message_subject
                {
                    color: mix(themed("secondary"), themed("grey-900"), 20%);
                }
                .message_sender
                {
                    color: mix(themed("secondary"), themed("grey-900"), 20%);
                }
                &:hover
                {
                    background-color: mix(themed("secondary"), themed("grey-000"), 60%);
                }
                &:active
                {
                    background-color: mix(themed("secondary"), themed("grey-000"), 80%);
                }
            }
        }

        #message
        {
            background-color: themed("grey-150");
        }
    }
}