/*
 * File: _colorthemes.scss
 * Author: Yusuf Saquib
 *
 *
 *  Here exist my color themes. Behold the beauty!
 */

 $themes: 
(
    light:
    (
        grey-000:           #F6F6F8,
        grey-050:           #F0F0F4,
        grey-100:           #E9E9EF,
        grey-150:           #D7D8DE,
        grey-200:           #BEBFC6,
        grey-300:           #A0A2AA,
        grey-400:           #83868F,
        grey-500:           #6A6D76,
        grey-600:           #51565F,
        grey-700:           #383D47,
        grey-750:           #242934,
        grey-800:           #171D27,
        grey-850:           #121822,
        grey-900:           #0D141D,
        primary:            #0336FF,
        secondary:          #FF0266,
        success:            #20B000,
        warning:            #FF6900,
        error:              #B00020,
    ),
    dark: 
    (
        grey-000:           #0D141D,
        grey-050:           #121822,
        grey-100:           #171D27,
        grey-150:           #242934,
        grey-200:           #383D47,
        grey-300:           #51565F,
        grey-400:           #6A6D76,
        grey-500:           #83868F,
        grey-600:           #A0A2AA,
        grey-700:           #BEBFC6,
        grey-750:           #D7D8DE,
        grey-800:           #E9E9EF,
        grey-850:           #F0F0F4,
        grey-900:           #F6F6F8,
        primary:            #CF7BFF,
        secondary:          #FFC107,
        success:            #55C73C,//#62CF4A,
        warning:            #FFA455,
        error:              #F05672//#CF6679,
    )
);

/**
 *  Colors: 
 *      D307B8
#101620
#1C202C
#282C38
#363D4B
#4D566A
#637089
#818EA4
#AFB7C5
#DADAE3
#EEEEF6
#FAFAFA
 */

 
 
 
 
 
 
 
 
 
 
 
 