/*
 * File: _variables.scss
 * Author: Yusuf Saquib
 *
 * This file holds all the variables that are used throughout the project
 */

// # Media Query Breakpoints --------------------------------------------------

$breakpoints: (
    "phone": 320px,
    "tablet-p": 750px,
    "tablet-l": 900px,
    "desktop": 1200px,
    "desktop-big": 1800px,
);

// TODO: Add :root with --multiplier CSS variable, which will change with media queries and will be multiplied with the font sizes.

// # Text Variables -----------------------------------------------------------

$tiny-size:        1rem;
$Tiny-size:        1.1rem;

$little-size:      1.2rem;
$Little-size:      1.3rem;

$small-size:       1.4rem;
$Small-size:       1.5rem;

$regular-size:     1.6rem;
$Regular-size:     1.8rem;

$medium-size:      2rem;
$Medium-size:      2.5rem;

$large-size:       3rem;
$larger-size:      3.5rem;
$Large-size:       4rem;

$huge-size:        5rem;
$huger-size:       5.5rem;
$Huge-size:        6rem;

$gigantic-size:    7rem;

// # Font Variables -----------------------------------------------------------

$sans-font:    'Raleway';
$mono-font:    'Fira Code';
$serif-font:   'Roboto Slab';

// # Font Weight Variables ----------------------------------------------------

$thin-weight:       100;
$lighter-weight:    200;
$light-weight:      300;
$regular-weight:    400;
$medium-weight:     500;
$semi-weight:       600;
$bold-weight:       700;
$bolder-weight:     800;
$black-weight:      900;

// # Effect Variables ---------------------------------------------------------

// $color-mix-least: 82.5%;
$color-mix-least: 70%;
$color-mix-less: 85%;
$color-mix-regular: 90%;
$color-mix-more: 95%;
$color-mix-most: 97.5%;

$trans-effect: ease;
$trans-effect-drawer: ease-in-out;

$trans-fast: 0.2s;
$trans-regular: 0.3s;

$anim-long: 2s;

// # Scrollbar Variables ------------------------------------------------------

$doc-scrollbar-track: 'grey-200';
$doc-scrollbar-thumb: 'grey-500';
$doc-scrollbar-thumb-hover: 'grey-600';
$doc-scrollbar-width: 1.2rem;

$scrollbar-track: 'grey-300';
$scrollbar-thumb: 'grey-600';
$scrollbar-thumb-hover: 'primary';
$scrollbar-width: 0.9rem;

// # Border Radius Variables --------------------------------------------------

$radius-small: 0.2rem;
$radius-regular: 0.3rem;
$radius-medium: 0.4rem;
$radius-large: 0.5rem;

// # Box Shadow Variables -----------------------------------------------------

$project-card-box-shadow: 0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 20%);
$image-shadow:            0.1rem 0.1rem 1.0rem 0.1rem rgba(#000, 20%);
$blog-list-box-shadow:    0.1rem 0.1rem 0.5rem 0.0rem rgba(#000, 20%);
$inbox-shadow:            0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 20%);
$messages-list-shadow:    0.1rem 0.1rem 0.5rem 0.0rem rgba(#000, 20%);
$button-hover-box-shadow: 0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 30%);
$header-box-shadow:       0.0rem 0.1rem 1.0rem 0.5rem rgba(#000, 10%);
$dialog-box-shadow:       0.0rem 0.1rem 3.0rem 0.5rem rgba(#000, 25%);

// # Padding and Margin Variables ---------------------------------------------

$padding-card-regular: 3rem;

// # Width and Height Variables -----------------------------------------------

$project-card-height: 30rem;