/*
 * File: _variables.scss
 * Author: Yusuf Saquib
 *
 * This file holds all the variables that are used throughout the project
 */

// # Media Query Breakpoints --------------------------------------------------

$breakpoints: (
    "phone-small": 325px,
    "phone": 480px,
    "tablet": 768px,
    "tablet-big": 1024px,
    "desktop": 1200px,
    "desktop-big": 1800px,
);

:root
{
    --size-multiplier:   0.0;

    @include media("<=tablet-big")
    {
        --size-multiplier: 0.5;
    }
    @include media("<=tablet")
    {
        --size-multiplier: 0.75;
    }
    @include media("<=phone")
    {
        --size-multiplier: 1.0;
    }
    @include media("<=phone-small")
    {
        --size-multiplier: 1.5;
    }
    

    --tiny-size:         calc(1.0rem - (0.1rem * var(--size-multiplier)));
    --Tiny-size:         calc(1.1rem - (0.1rem * var(--size-multiplier)));
    --little-size:       calc(1.2rem - (0.1rem * var(--size-multiplier)));
    --Little-size:       calc(1.3rem - (0.1rem * var(--size-multiplier)));
    --small-size:        calc(1.4rem - (0.1rem * var(--size-multiplier)));
    --Small-size:        calc(1.5rem - (0.1rem * var(--size-multiplier)));
    --regular-size:      calc(1.6rem - (0.1rem * var(--size-multiplier)));
    --Regular-size:      calc(1.8rem - (0.1rem * var(--size-multiplier)));
    --medium-size:       calc(2.0rem - (0.2rem * var(--size-multiplier)));
    --Medium-size:       calc(2.5rem - (0.2rem * var(--size-multiplier)));
    --large-size:        calc(3.0rem - (0.2rem * var(--size-multiplier)));
    --larger-size:       calc(3.5rem - (0.5rem * var(--size-multiplier)));
    --Large-size:        calc(4.0rem - (0.5rem * var(--size-multiplier)));
    --Largest-size:      calc(4.5rem - (1.0rem * var(--size-multiplier)));
    --huge-size:         calc(5.0rem - (1.0rem * var(--size-multiplier)));
    --huger-size:        calc(5.5rem - (1.0rem * var(--size-multiplier)));
    --Huge-size:         calc(6.0rem - (1.0rem * var(--size-multiplier)));
    --gigantic-size:     calc(7.0rem - (1.0rem * var(--size-multiplier)));
}

// # Text Variables -----------------------------------------------------------

$tiny-size:        var(--tiny-size);
$Tiny-size:        var(--Tiny-size);
$little-size:      var(--little-size);
$Little-size:      var(--Little-size);
$small-size:       var(--small-size);
$Small-size:       var(--Small-size);
$regular-size:     var(--regular-size);
$Regular-size:     var(--Regular-size);
$medium-size:      var(--medium-size);
$Medium-size:      var(--Medium-size);
$large-size:       var(--large-size);
$larger-size:      var(--larger-size);
$Large-size:       var(--Large-size);
$Largest-size:     var(--Largest-size);
$huge-size:        var(--huge-size);
$huger-size:       var(--huger-size);
$Huge-size:        var(--Huge-size);
$gigantic-size:    var(--gigantic-size);

// # Line Height Variables ----------------------------------------------------

$line-height-regular:   1;
$line-height-medium:    1.5;
$line-height-large:     1.75;

// # Font Variables -----------------------------------------------------------

$sans-font:    'Raleway';
$mono-font:    'Fira Code';
$serif-font:   'Roboto Slab';

// # Font Weight Variables ----------------------------------------------------

$thin-weight:       100;
$lighter-weight:    200;
$light-weight:      300;
$regular-weight:    400;
$medium-weight:     500;
$semi-weight:       600;
$bold-weight:       700;
$bolder-weight:     800;
$black-weight:      900;

// # Effect Variables ---------------------------------------------------------

// $color-mix-least: 82.5%;
$color-mix-least: 70%;
$color-mix-less: 85%;
$color-mix-regular: 90%;
$color-mix-more: 95%;
$color-mix-most: 97.5%;

$trans-effect: ease;
$trans-effect-drawer: ease-in-out;


$trans-fastest: 0.15s;
$trans-fast: 0.2s;
$trans-regular: 0.3s;

$anim-long: 2s;

// # Scrollbar Variables ------------------------------------------------------

$doc-scrollbar-track: 'grey-200';
$doc-scrollbar-thumb: 'grey-500';
$doc-scrollbar-thumb-hover: 'grey-600';
$doc-scrollbar-width: 1.2rem;

$scrollbar-track: 'grey-300';
$scrollbar-thumb: 'grey-600';
$scrollbar-thumb-hover: 'primary';
$scrollbar-width: 0.9rem;

// # Border Radius Variables --------------------------------------------------

$radius-small: 0.2rem;
$radius-regular: 0.3rem;
$radius-medium: 0.4rem;
$radius-large: 0.5rem;

// # Box Shadow Variables -----------------------------------------------------

$project-card-box-shadow: 0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 20%);
$image-shadow:            0.1rem 0.1rem 1.0rem 0.1rem rgba(#000, 20%);
$blog-list-box-shadow:    0.1rem 0.1rem 0.5rem 0.0rem rgba(#000, 20%);
$inbox-shadow:            0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 20%);
$messages-list-shadow:    0.1rem 0.1rem 0.5rem 0.0rem rgba(#000, 20%);
$button-hover-box-shadow: 0.1rem 0.1rem 0.7rem 0.0rem rgba(#000, 30%);
$header-box-shadow:       0.0rem 0.1rem 1.0rem 0.5rem rgba(#000, 10%);
$dialog-box-shadow:       0.0rem 0.1rem 3.0rem 0.5rem rgba(#000, 25%);

// # Padding and Margin Variables ---------------------------------------------


$padding-card-least: 2rem;
$padding-card-less: 2.5rem;
$padding-card-regular: 3rem;

// # Width and Height Variables -----------------------------------------------

$project-card-height: 30rem;