/*
 * File: _about.scss
 * Author: Yusuf Saquib
 */

#about
{
    .about_wrapper
    {
        width: 80%;

        .about_description
        {
            font: $regular-weight $regular-size $sans-font, sans-serif;
            // color: $light-foreground-color;
            @include themify()
            {
                color: themed('grey-9');
            }
        }
    }
}