#security
{
    .security_wrapper
    {
        *
        {
            @include themify()
            {
                color: themed('secondary');
            }
        }
        .label
        {
            user-select: none;
            width: 100%; 
            text-align: center; 
                                    
            display: inline-flex;
            // padding: 0 1rem;
            @include themify()
            {
                background-color: themed('grey-0');
            }

            align-items: center;
            justify-content: left;
            .icon
            {
                margin: 0.5rem;
            }

            cursor: pointer;
            
            &::after
            {
                content: "";
                margin-left: 1rem;
                flex: 1;
                @include themify()
                {
                    background-color: themed('secondary');
                }
                height: 1px;
                width: 100%;
            }
        }

        .public_key
        {
            transition: height 1s $trans-effect;
            margin: 0rem;
            height: 0;
            overflow: hidden;
            display: block;
            @include themify()
            {
                background-color: themed('grey-1');
            }
            
            &.shown
            {
                height: 95rem;
            }
            .key
            {
                margin: 0rem;
                white-space: pre-wrap;
                padding: 2rem;
                font: $regular-weight $little-size $mono-font, monospace;
            }
        }
    }
}