/*
 * File: main.scss
 * Author: Yusuf Saquib
 */

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/colorthemes';
@import './abstracts/functions';

@import './sections/banner';
@import './sections/projects';
@import './sections/about';
@import './sections/contact';
@import './sections/security';

@import './wrappers/acwrapper';

@import './elements/button';
@import './elements/projectcard';
@import './elements/input';
@import './elements/loadingskeleton';
@import './elements/section';
@import './elements/dialogbox';
@import './elements/editor';
@import './elements/pagination';

@import './layout/header';
@import './layout/footer';
@import './layout/pagenotfound';
@import './layout/loader';

@import './modules/portals';
@import './modules/admin';
@import './modules/blogslist';
@import './modules/blog';
@import './modules/inbox';

@import './base/base';
@import './base/typography';
@import './base/scrollbar';

html 
{
    font-size: 62.5%;
    height: 100%;
    overflow-y: scroll;
}
  
body
{

    font-family: $sans-font, sans-serif;
    height: auto;
    text-align: center;
    transition: none;
    
    &.theme-dark
    {
        background-color: get_color($key: 'grey-000', $theme: 'dark');
    }
    
    &.theme-light
    {
        background-color: get_color($key: 'grey-000', $theme: 'light');
        
    }
    .theme-dark
    {
        transition: background-color $trans-fast $trans-effect;
        background-color: get_color($key: 'grey-000', $theme: 'dark');
    }
    
    .theme-light
    {
        transition: background-color $trans-fast $trans-effect;
        background-color: get_color($key: 'grey-000', $theme: 'light');

    }
}

.svg_icon svg
{
    display: inline-block;
    font-size: 1.5rem;
    transition: none;
    flex-shrink: 0;
    user-select: none;
    fill: currentColor;
    vertical-align: middle;
    width: $medium-size;
    height: $medium-size;
}