/*
 * File: main.scss
 * Author: Yusuf Saquib
 */

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/colorthemes';
@import './abstracts/functions';

@import './sections/banner';
@import './sections/projects';
@import './sections/about';
@import './sections/contact';
@import './sections/security';
@import './sections/blogslist';

@import './wrappers/acwrapper';

@import './modules/portals';
@import './modules/admin';
@import './modules/blog';

@import './elements/button';
@import './elements/projectcard';
@import './elements/input';
@import './elements/loadingskeleton';
@import './elements/section';
@import './elements/dialogbox';
@import './elements/editor';

@import './layout/header';
@import './layout/footer';
@import './layout/pagenotfound';
@import './layout/loader';


@import './base/base';
@import './base/typography';
@import './base/scrollbar';

html 
{
    font-size: 62.5%;
}
  
body
{
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";

    font-family: $sans-font, sans-serif;
    height: 100%;
    text-align: center;
    
    &.theme-dark
    {
        background-color: get_color($key: 'grey-000', $theme: 'dark');
    }
    
    &.theme-light
    {
        background-color: get_color($key: 'grey-000', $theme: 'light');
        
    }
    .theme-dark
    {
        background-color: get_color($key: 'grey-000', $theme: 'dark');
    }
    
    .theme-light
    {
        background-color: get_color($key: 'grey-000', $theme: 'light');

    }
}


.svg_icon svg
{
    display: inline-block;
    font-size: 1.5rem;
    transition: none;
    flex-shrink: 0;
    user-select: none;
    fill: currentColor;
    vertical-align: middle;
    width: $medium-size;
    height: $medium-size;
}