/*
 * File: _button.scss
 * Author: Yusuf Saquib
 */

.btn
{
    border: none;
    border-radius: $radius-regular;
    
    font: $semi-weight $small-size $sans-font, sans-serif;
    @include themify()
    {
        color: themed('grey-0');
        background-color: themed('primary');
        &.secondary
        {
            background-color: themed('grey-9');
        }
        &:hover, &:focus
        {
            background-color: mix(themed('secondary'), themed('grey-9'), $color-mix-regular);
        }
        &:active:focus
        {
            transition: none;
            background-color: mix(themed('secondary'), themed('grey-0'), $color-mix-least);
        }
        &:disabled
        {
            background-color: mix(themed('grey-0'), themed('primary'), 60%);
        }
    }
    

    transition: background $trans-effect $trans-regular, box-shadow $trans-effect $trans-regular;
    position: relative;
    
    &:hover
    {
        box-shadow: 1px 1px 10px rgb(#000, 30%);
        cursor: pointer;
    }
    &:disabled
    {
        cursor: default;
    }
    
    padding: 1rem 1.3rem;
    
    &.no_background
    {
        background: none;
        width: fit-content;
        
        // &.outlined
        // {
        //     border: 0.2rem 
        // }

        @include themify()
        {
            color: themed('grey-9');
        }
        
        &:hover, &:active:focus, &:focus
        {
            background: none;
            box-shadow: none;
        }
    }

}

