/*
 * File: _button.scss
 * Author: Yusuf Saquib
 */

.btn
{
    border: none;
    border-radius: 0.3rem;
    
    font: $semi-weight $small-size $sans-font, sans-serif;
    @include themify()
    {
        color: themed('grey-0');
        background-color: themed('primary');
        &:hover
        {
            background-color: mix(themed('primary'), themed('grey-9'), $color-mix-regular);
        }
    }
    
    margin-right: 1.5rem;
    transition: background $trans-effect $trans-regular, box-shadow $trans-effect $trans-regular;
    position: relative;
    
    &:hover
    {
        box-shadow: 1px 1px 10px rgb(#000, 30%);
        transition: background $trans-effect $trans-regular, box-shadow $trans-effect $trans-regular;
        cursor: pointer;
    }
    
    height: 3.5rem;
    width: 11rem;
    
    // $ ---- Button Purposes ----
    &.project
    {
        width: 13rem;
        margin-right: 0rem;
    }

    &.resume
    {
        width: 11rem;
    }
    
    &.contact
    {
        @include themify()
        {
            background-color: themed('grey-9');
            &:hover
            {
                background-color: mix(themed('grey-9'), themed('grey-0'), $color-mix-regular);
            }
        }

        width: 11rem;
        height: 3.5rem;
    }

    &.no_background
    {
        background: none;
        
        @include themify()
        {
            color: themed('grey-9');
        }

        width: 15rem;
        &:hover
        {
            background: none;
            box-shadow: none;
        }
    }
}

