.toolbar
{

    width: 100%;
    padding: 0.5rem;
    border-radius: $radius-regular;
    margin-bottom: 1rem;

    // box-shadow: 0.1rem 0.1rem 0.5rem 0.0rem rgba(#000, 20%);

    display: flex;

    .toolbar_button
    {
        margin: 0.2rem;
        padding: 0.3rem;
        border: 0.1rem solid;
        border-radius: $radius-regular;
        width: fit-content;
        * {
            transition: none;
        }
        transition: background-color ease $trans-regular;
        
        &:hover
        {
            cursor: pointer;
        }
    }

    .toolbar_divider
    {
        padding: 0.04rem;
        margin: 0.2rem 0.5rem;
    }


    @include themify()
    {

        background-color: themed('grey-200');
        
        .toolbar_button
        {
            border-color: themed('grey-200');
            color: themed('grey-800');
            &:hover
            {
                border-color: themed('grey-400');
                background-color: themed('grey-150');
            }
            &:active
            {
                border-color: themed('secondary');
                color: themed('secondary');
                background-color: themed('grey-150');
            }
        }
        
        .toolbar_divider
        {
            background-color: themed('grey-600');
        }
    }
}

.editor_wrapper
{
    .editor_area 
    {
        padding: 2rem;
        resize: vertical;
        font: $regular-weight $regular-size $mono-font, monospace;
        &:hover
        {
            @include themify() {background-color: themed('grey-150');}
        }
        
    }
}