.input_wrapper
{
    width: 100%;
    height: auto;
    margin: 0rem;
    padding: 0rem;
    font: $regular-weight $regular-size $sans-font, sans-serif;

    grid-column: span 2;

    &.half
    {
        grid-column: span 1;
    }
    
    position: relative;

}

.text_label
{
    margin: none;
    opacity: 0%;
    font: $medium-weight $Little-size $sans-font, sans-serif;
    transition: $trans-regular;
    
    &.shown
    {
        transition: $trans-regular;
        opacity: 100%;

        @include themify()
        {
            color: themed('grey-800');
        }
    }
    &.error
    {
        @include themify()
        {
            color: themed('error');
        }
    }
}

textarea
{
    resize: none;
}


textarea, input[type=text], input[type=password]
{

    width: 100%;
    padding: 1rem;
    margin-top: 0.3rem;

    outline: none;
    border-radius: $radius-regular;
    border: 0.1rem solid;
    
    font: $medium-weight $regular-size $sans-font, sans-serif;
    
    transition: background-color $trans-effect $trans-regular;
    
    @include themify()
    {
        color: themed('grey-800');

        background-color: themed('grey-150');
        border-color: themed('grey-150');
        
        &:hover
        {
            
            background-color: mix(themed('grey-150'), themed('primary'), $color-mix-most);
            border-color: themed('grey-150');
        }
        &.error
        {
            
            border-color: themed('error');
        }
        &:focus, &:active
        {
            
            border-color: themed('primary');
        }
        &:disabled, &:disabled:focus, &:disabled:active
        {
            color: themed('grey-500');
            border-color: themed('grey-300');
            background-color: themed('grey-100');
        }
        
        &.elevated
        {
            background-color: themed('grey-200');
            border-color: themed('grey-200');
            &:hover
            {
                
                background-color: mix(themed('grey-200'), themed('primary'), $color-mix-most);
                border-color: themed('grey-200');
            }
            &.error
            {
                
                border-color: themed('error');
            }
            &:focus, &:active
            {
                
                border-color: themed('primary');
            }
            &:disabled, &:disabled:focus, &:disabled:active
            {
                color: themed('grey-500');
                border-color: themed('grey-300');
                background-color: themed('grey-150');
            }

        }
    }
}

.checkbox_wrapper
{
    display: inline-flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.checkbox_label
{
    
    @include themify()
    {
        color: themed('grey-500');
    }

    &.disabled
    {
        @include themify()
        {
            color: themed('grey-500');
        }

    }
    
    &.checked
    {
        @include themify()
        {
            color: themed('grey-600');
        }
    }
    font: $regular-weight $small-size $sans-font, sans-serif;
}

input[type=checkbox]
{
    cursor: pointer;
    appearance: none;
    margin: 0rem;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid;
    // margin-right: 1.5rem;


    @include themify()
    {
        color: themed('primary');
        background-color: themed('grey-200');
        border-color: themed('grey-400');
        &:hover
        {
            background-color: mix(themed('grey-200'), themed('primary'), $color-mix-regular);
            border-color: mix(themed('grey-400'), themed('primary'), $color-mix-regular);
        }
        &:checked, &:checked:active
        {
            color: themed('primary');
            background-color: themed('primary');
            border-color: themed('primary');
            
            &::after
            {
                color: themed('grey-000');
            }
        }
        &:disabled
        {
            border-color: themed('grey-300');
            background-color: themed('grey-150');
        }
        &:read-only
        {
            border-color: themed('grey-300');
        }
    }
    
    display: flex;
    justify-content: center;
    align-items: center;

    &::after
    {
        content: '\2714';
        font-size: $regular-size;
        color: transparent;
    }
    
    &:checked, &:checked:active
    {
        &::after
        {
            content: '\2714';
            font-size: $regular-size;
        }
    }

    
    &:disabled
    {
        cursor: default;
        border: 1px solid;
    }
}