/*
 * File: _projectcard.scss
 * Author: Yusuf Saquib
 */

.project_card_wrapper
{

    height: 35rem;
    position: relative;
    
    grid-column: span 2;
    border-radius: $radius-large;
    box-shadow: $project-card-box-shadow;
    
    .project_card
    {
        padding: $padding-card-regular;
        padding-top: $padding-card-regular;
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0rem;
    }

    .project_links
    {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        user-select: none;
        
        .links_list
        {
            cursor: pointer;
            margin: 0rem;
            padding: 0rem;
            list-style-type: none;
            font: $semi-weight $Little-size $mono-font, monospace;

            :not(:last-child)::after
            {
                cursor: default;
                content: '•';
                padding: 0rem 1rem;
            }
            
            :last-child::after
            {
                cursor: default;
                padding: 0rem 1rem;
            }

            .links_item
            {
                display: inline;
                margin: 0rem;
            }
        }

    }

    @include themify()
    {
        background-color: themed('grey-150');

        .project_links .links_list .links_item
        {
            color: themed('grey-500');
            &:hover
            {
                color: themed('grey-900');
            }
            &::after
            {
                color: themed('grey-500');
            }
        }

        &.wip .project_links .links_list .links_item
        {
            
            color: themed('secondary');
            &:hover
            {
                color: themed('grey-900');
            }
            &::after
            {
                color: themed('secondary');
            }
        }
        
        &.featured .project_links .links_list .links_item
        {
            &:hover
            {
                color: themed('grey-900');
            }
            color: themed('primary');
            &::after
            {
                color: themed('primary');
            }
        }

        .featured_tag, .wip_tag
        {
            background-color: themed('primary');
            .label
            {
                color: themed('grey-000');
            }
        }
        .wip_tag
        {
            background-color: themed('secondary');
        }
        .project_description
        {
            color: themed('grey-800');
        }
        .project_languages
        {
            color: themed('grey-700');
        }
        .wip_bar_wrapper
        {
            .wip_label
            {
                color: themed('secondary');
            }
            .wip_bar
            {
                background-color: themed('grey-300');
                .wip_progress
                {
                    background-color: themed('secondary');
                }
            }
        }
    }

    .featured_tag, .wip_tag
    {
        align-self: left;
        min-width: 11rem;
        height: 2.5rem;
        padding: 0.4rem 1rem;
        border-radius: $radius-small;
        display: grid;
        place-items: center;

        .label
        {
            margin: 0rem;
            padding: 0rem;
            font: $semi-weight $Little-size $mono-font, monospace;
        }
    }
    
    .project_title
    {
        margin: 0rem 0rem;
        font: $bold-weight $Medium-size $sans-font, sans-serif;
    }
    
    .project_description
    {
        width: 100%;
        font: $regular-weight $small-size $sans-font, sans-serif;
    }

    .project_languages, .wip_bar_wrapper
    {
        overflow: hidden;
        margin: 0rem;
        padding: 0rem;
        position: absolute;
        inset: auto $padding-card-regular $padding-card-regular $padding-card-regular;
        width: auto;
    }
    
    .project_languages
    {
        // overflow: hidden;
        // margin: 0rem;
        // padding: 0rem;
        // position: absolute;

        list-style-type: none;
        font: $regular-weight $Little-size $mono-font, monospace;

        
        li
        {
            display: inline;
            padding-right: 1rem;
            text-align: left;
            
            &::after
            {
                padding-left: 1rem;
                content: '•';
            }
        }
        
        :last-child
        {
            &::after
            {
                padding-left: 1rem;
                content: '';
            }
        }
        
    }

    &.wip .project_languages
    {
        display: none;
    }
    .wip_bar_wrapper
    {
        .wip_label
        {
            font: $regular-weight $Little-size $mono-font, monospace;
        }
        
        .wip_bar
        {
            margin-top: 0.5rem;
            border-radius: $radius-small;
            padding: 1rem;
            position: relative;
            .wip_progress
            {
                position: absolute;
                inset: 0rem;
                border-radius: $radius-small;
                height: 100%;
            }
        }
    }
    
    &.featured
    {
        grid-column: span 6;

        .project_title
        {
            font-size: $Large-size;
        }

        .project_description
        {
            // width: 70%;
            font-size: $regular-size;
        }
        .project_languages
        {
            font-size: $Small-size;
        }
    }
    
    &.large
    {
        grid-column: span 3;

        .project_title
        {
            font-size: $large-size;
        }

        .project_description
        {
            width: 100%;
            font-size: $Small-size;
        }
        .project_languages
        {
            font-size: $small-size;
        }
    }    
}

.loading_card
{
    grid-column: span 2;
    height: 35rem;
    &.featured
    {
        grid-column: span 6;
    }
    
    &.large
    {
        grid-column: span 3;
    }
}