/*
 * File: _projectcard.scss
 * Author: Yusuf Saquib
 */

.project_card_wrapper
{
    // background-color: $background-color;
    @include themify()
    {
        background-color: themed('grey-150');
    }
    height: 35rem;
    position: relative;

    grid-column: span 2;
    border-radius: $radius-large;
    box-shadow: $project-card-box-shadow;
    
    .featured_tag
    {
        align-self: right;
        @include themify()
        {
            background-color: themed('primary');
        }
        z-index: 1;
        width: 16rem;
        height: 2.5rem;
        padding: 1rem;
        position: absolute;
        right: 0rem;
        top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .label
        {
            font: $semi-weight $small-size $mono-font, monospace;
            @include themify()
            {
                color: themed('grey-000');
            }
        }
    }

    .wip_tag
    {
        align-self: right;
        @include themify()
        {
            background-color: themed('secondary');
        }
        z-index: 1;
        width: 16rem;
        height: 2.5rem;
        padding: 1rem;
        position: absolute;
        right: 0rem;
        top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .label
        {
            font: $semi-weight $small-size $mono-font, monospace;
            @include themify()
            {
                color: themed('grey-000');
            }
        }
    }

    
    .project_card
    {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0rem;
    }
    
    .project_title
    {
        margin: 0rem 0rem;
        font: $bold-weight $Medium-size $sans-font, sans-serif;
    }
    
    .project_description
    {
        width: 100%;
        font: $regular-weight $small-size $sans-font, sans-serif;
        // color: $light-foreground-color;
        @include themify()
        {
            color: themed('grey-800');
        }
    }

    .project_languages, .wip_bar_wrapper
    {
        overflow: hidden;
        margin: 0rem;
        padding: 0rem;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        right: 3rem;
        width: auto;
    }
    
    .project_languages
    {
        overflow: hidden;
        margin: 0rem;
        padding: 0rem;
        position: absolute;

        list-style-type: none;
        font: $regular-weight $Little-size $mono-font, monospace;
        // color: $dark-foreground-color;
        @include themify()
        {
            color: themed('grey-700');
        }
        
        li
        {
            display: inline;
            padding-right: 1rem;
            text-align: left;
            
            &::after
            {
                padding-left: 1rem;
                content: '•';
            }
        }
        
        :nth-last-child(1)
        {
            &::after
            {
                padding-left: 1rem;
                content: '';
            }
        }
        
    }

    &.wip .project_languages
    {
        display: none;
    }
    .wip_bar_wrapper
    {
        .wip_label
        {
            font: $regular-weight $Little-size $mono-font, monospace;
        }
        
        .wip_bar
        {
            margin-top: 0.5rem;
            border-radius: $radius-small;
            padding: 1rem;
            position: relative;
            .wip_progress
            {
                position: absolute;
                inset: 0rem;
                border-radius: $radius-small;
                height: 100%;
            }
        }
        
        @include themify()
        {
            .wip_label
            {
                color: themed('secondary');
            }
            .wip_bar
            {
                background-color: themed('grey-300');
                .wip_progress
                {
                    background-color: themed('secondary');
                }
            }
            
        }
    }
    
    &.featured
    {
        grid-column: span 6;

        .project_title
        {
            font-size: $Large-size;
        }

        .project_description
        {
            width: 70%;
            font-size: $regular-size;
        }
        .project_languages
        {
            font-size: $Small-size;
        }
    }
    
    &.large
    {
        grid-column: span 3;

        .project_title
        {
            font-size: $large-size;
        }

        .project_description
        {
            width: 100%;
            font-size: $Small-size;
        }
        .project_languages
        {
            font-size: $small-size;
        }
    }    
}

.loading_card
{
    grid-column: span 2;
    height: 35rem;
    &.featured
    {
        grid-column: span 6;
    }
    
    &.large
    {
        grid-column: span 3;
    }
}