/*
 * File: _section.scss
 * Author: Yusuf Saquib
 */
section 
{
    padding: 2rem 1rem;
    margin: auto;
    width: 80%;
    text-align: left;

    @include media("<=tablet-l")
    {
        width: 100%;
    }
    
    @include media(">tablet-l", "<desktop")
    {
        width: 90%;
    }

    margin-bottom: 5rem;


    &.mini
    {
        padding: 0rem;
        margin: 0rem;
        width: 100%;
    }

    .sec_title
    {
        transition: background-color $trans-effect $trans-regular, color $trans-effect $trans-regular;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        font: $bold-weight $large-size $serif-font, serif;
        &::after, &::before
        {
            content: "";
            flex: 1;
            height: 1px;
            width: 100%;
            transition: background-color $trans-effect $trans-regular;
        }
        &::before{margin-right: 3rem;}
        &::after{margin-left: 3rem;}
    }
    
    .sec_subtitle
    {
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        &::after
        {
            content: "";
            flex: 1;
            height: 1px;
            width: 100%;
        }
        &::after{margin-left: 3rem;}
        font: $regular-weight $medium-size $sans-font, sans-serif;
        
    }

    @include themify()
    {
        .sec_subtitle, .sec_title
        {
            color: themed("grey-900");
            &::after, &::before
            {
                background-color: themed('grey-300');
            }
        }
    }
}

#main_container
{
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}