/*
 * File: _contact.scss
 * Author: Yusuf Saquib
 */

#contact
{
    .sec_title
    {
        margin-bottom: 1.5rem;
    }
    .contact_wrapper
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}