#banner
{
    .banner_wrapper
    {
        margin: 0rem;
        padding: 4rem 4rem; // 4rem 3rem 4rem;
        background-color: $dark-background-color;
        display: flex;
        flex-direction: column;

        .banner_buttons
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            
        }    
        // background-image: url('../../../images/pittsburgh.jpg');
        // background-image: linear-gradient(90deg,rgba(45,45,58,.9) 15%,rgba(45,45,58,.7) 50%,rgba(43,43,53,.7) 100%);

        .pre
        {
            text-align: left;
            margin: 0rem;
            font: $medium-weight $regular-size $mono-font, monospace;
        }

        .my_name
        {
            margin: 0rem; //0rem 4rem 0rem;
            text-align: left;
            font: $bolder-weight $huge-size $sans-font, sans-serif;
            color: $light-foreground-color;
        }

        .my_title
        {
            margin: 0rem 0rem 4rem 0rem;
            text-align: left;
            font: $bold-weight $huge-size $sans-font, sans-serif;
            color: $dark-foreground-color;
        }

    }
}