$themes: 
(
    light:
    (
        grey-0:             #FAFAFF,
        grey-1:             #EEEEF6,
        grey-2:             #D8D8DF,
        grey-3:             #AFB7C5,
        grey-4:             #818EA4,
        grey-5:             #637089,
        grey-6:             #4D566A,
        grey-7:             #363D4B,
        grey-8:             #202430,
        grey-9:             #101620,
        primary-0:          #0336FF,
        primary-1:          #2954FF,
        primary-2:          #4D70FF,
        secondary-0:        #FF0266,
        secondary-1:        #FF3787,
        secondary-2:        #FF6DA8,
        success-0:          #00FF00,
        success-1:          #00FF00,
        success-2:          #00FF00,
        warning-0:          #FFC000,
        warning-1:          #FFC000,
        warning-2:          #FFC000,
        error-0:            #B00020,
        error-1:            #B00020,
        error-2:            #B00020,
    ),
    dark: 
    (
        grey-0:             #101620,
        grey-1:             #202430,
        grey-2:             #363D4B,
        grey-3:             #4D566A,
        grey-4:             #637089,
        grey-5:             #818EA4,
        grey-6:             #AFB7C5,
        grey-7:             #D8D8DF,
        grey-8:             #EEEEF6,
        grey-9:             #FAFAFA,
        primary-0:          #CF7BFF,
        primary-1:          #D58DFF,
        primary-2:          #DCA0FF,
        secondary-0:        #FFC107,
        secondary-1:        #FFC929,
        secondary-2:        #FFD24D,
        success-0:          #00FF00,
        success-1:          #00FF00,
        success-2:          #00FF00,
        warning-0:          #FFC000,
        warning-1:          #FFC000,
        warning-2:          #FFC000,
        error-0:            #CF6679,
        error-1:            #CF6679,
        error-2:            #CF6679,
    )
);

/**
 *  Colors: 
 *      D307B8
 *
 */