/*
 * File: _colorthemes.scss
 * Author: Yusuf Saquib
 *
 *
 *  Here exist my color themes. Behold the beauty!
 */

 $themes: 
(
    light:
    (
        grey-0:             #FAFAFF,
        grey-1:             #EEEEF6,
        grey-2:             #D8D8DF,
        grey-3:             #AFB7C5,
        grey-4:             #818EA4,
        grey-5:             #637089,
        grey-6:             #4D566A,
        grey-7:             #363D4B,
        grey-8:             #202430,
        grey-9:             #101620,
        primary:            #0336FF,
        secondary:          #FF0266,
        success:            #00FF00,
        warning:            #FFC000,
        error:              #B00020,
    ),
    dark: 
    (
        grey-0:             #101620,
        grey-1:             #202430,
        grey-2:             #363D4B,
        grey-3:             #4D566A,
        grey-4:             #637089,
        grey-5:             #818EA4,
        grey-6:             #AFB7C5,
        grey-7:             #D8D8DF,
        grey-8:             #EEEEF6,
        grey-9:             #FAFAFA,
        primary:            #CF7BFF,
        secondary:          #FFC107,
        success:            #00FF00,
        warning:            #FFC000,
        error:              #CF6679,
    )
);

/**
 *  Colors: 
 *      D307B8
 *
 */