// MEDIA QUERY MANAGER
/*
 * 0 - 600px:          Phone
 * 600px - 900px       Table Portrait
 * 900px - 1200px      Table Landscape
 * [1200px - 1800px]   Desktop Normal Styles
 * 1800px +            Big Desktop
 * 
 * 1em = 16px
 * 
 * ORDER: Base + Typography > General Layout + Grid > Page Layout > Components
 * 
 */
@mixin respond($breakpoint) 
{
  /* Small Phone --          0-320px */
  @if $breakpoint == phone-xs 
  {
    @media (max-width: 20em) 
    {
      @content;
    }
  }
  /* Phone --                0-600px */
  @if $breakpoint == phone 
  {
    @media (max-width: 37.5em) 
    {
      @content;
    }
  }
  /* Tablet Portrait --      900px */
  @if $breakpoint == tab-port 
  {
    @media (max-width: 56.25em) 
    {
      @content;
    }
  }
  /* Tablet Landscape --     1200px */
  @if $breakpoint == tab-land 
  {
    @media (max-width: 75em) 
    {
      @content;
    }
  }
  /* Big Desktop --          1800+ px*/
  @if $breakpoint == big-desktop 
  {
    @media (min-width: 112.5em) 
    {
      @content;
    }
  }
}

// Code from https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

/* 
 * This function will add the parent class to each theme class with
 * children as specified. 
 */
@mixin themify($themes: $themes) 
{
  @each $theme, $map in $themes 
  {
    .theme-#{$theme} & 
    {
      $theme-map: () !global;
      @each $key, $submap in $map 
      {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}