/*
 * File: _variables.scss
 * Author: Yusuf Saquib
 *
 * This file holds all the variables that are used throughout the project
 */

// # Text Variables -----------------------------------------------------------

$tiny-size:        1rem;
$Tiny-size:        1.1rem;

$little-size:      1.2rem;
$Little-size:      1.3rem;

$small-size:       1.4rem;
$Small-size:       1.5rem;

$regular-size:     1.6rem;

$medium-size:      2rem;
$Medium-size:      2.5rem;

$large-size:       3rem;
$larger-size:      3.5rem;
$Large-size:       4rem;

$huge-size:        5rem;
$huger-size:       5.5rem;
$Huge-size:        6rem;

$gigantic-size:    7rem;

// # Font Variables -----------------------------------------------------------

$sans-font:    'Raleway';
$mono-font:    'Fira Code';
$serif-font:   'Roboto Slab';

// # Font Weight Variables ----------------------------------------------------

$thin-weight:       100;
$lighter-weight:    200;
$light-weight:      300;
$regular-weight:    400;
$medium-weight:     500;
$semi-weight:       600;
$bold-weight:       700;
$bolder-weight:     800;
$black-weight:      900;

// # Effect Variables ---------------------------------------------------------

$btn-lighten-amount: 5%;

// # Scrollbar Variables ------------------------------------------------------

$doc-scrollbar-track: 'grey-2';
$doc-scrollbar-thumb: 'grey-5';
$doc-scrollbar-thumb-hover: 'grey-6';
$doc-scrollbar-width: 1.2rem;

$scrollbar-track: 'grey-3';
$scrollbar-thumb: 'grey-6';
$scrollbar-thumb-hover: 'primary';
$scrollbar-width: 0.9rem;
