// # Color Variables ----------------------------------------------------------

$dark-background-color:     #101620;
$background-color:          #202430;
$light-background-color:    #353B50;//464D5A;

$dark-foreground-color:     #D1D1D2;  
$foreground-color:          #E0E0E0;  
$light-foreground-color:    #FAFAFA;  


$white-color:               #FFFFFF;

$primary-color:             #FFC107;
$secondary-color:           #C107FF; //#39BAE6;


// # Text Variables -----------------------------------------------------------

$default-font-size:     1.7rem;

$tiny-font-size:        1rem;
$small-font-size:       2rem;
$medium-font-size:      3rem;
$large-font-size:       4rem;
$huge-font-size:        5rem;

$Huge-font-size:        6rem;
$gigantic-font-size:    7rem;