/*
 * File: _base.scss
 * Author: Yusuf Saquib
 */

#root
{
    height: 100%;
    text-align: center;
}

// a
// {
//     height: fit-content;
//     width: fit-content;   
// }

*, *:before, *:after
{
    box-sizing: border-box;
}

*
{
    transition: background-color $trans-fast $trans-effect, color $trans-fast $trans-effect;
}

.firebase-emulator-warning { display: none; }