/*
 * File: _typography.scss
 * Author: Yusuf Saquib
 */

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');


h1 
{
    @include themify()
    {
        color: themed('grey-900');
    }
    font: $medium-weight $large-size $serif-font, serif;
}
  
h2
{
    font: $medium-weight $regular-size $mono-font, monospace;
    // color: $primary-color;
    @include themify()
    {
        color: themed('primary');
    }
}

title
{
    font: $bold-weight $regular-size $sans-font, sans-serif;
    // color: $primary-color;
    @include themify()
    {
        color: themed('primary');
    }
}

*, *::before, *::after
{
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

// $ Section ==================================================================

.sec_title
{
    font: $bold-weight $large-size $serif-font, serif;
}
.sec_subtitle
{
    font: $regular-weight $medium-size $sans-font, sans-serif;
}

// $ PGP Key ==================================================================

.key_toggle
{
    font: $medium-weight $regular-size $mono-font, monospace;
}
.pgp_key
{
    font: $regular-weight $little-size $mono-font, monospace;
}

// $ Button ===================================================================

.btn
{
    font: $semi-weight $small-size $sans-font, sans-serif;
}

// $ Dialog Box ===============================================================

.dialog_box
{
    .dialog_box_title
    {
        font: $regular-weight $Medium-size $serif-font, serif;
    }
    .dialog_box_message
    {
        font: $regular-weight $regular-size $sans-font, sans-serif;
        &.error, &.warning, &.success
        {
            font: $semi-weight $regular-size $sans-font, sans-serif;
        }
    }

}

// $ Hero Banner ==============================================================

#banner
{
    .pre
    {
        font: $medium-weight $regular-size $mono-font, monospace;
    }
    .my_name
    {
        font: $bolder-weight $huge-size $sans-font, sans-serif;
    }
    .my_title
    {
        font: $bold-weight $Largest-size $sans-font, sans-serif;
    }
}

// $ Projects =================================================================

.project_card_wrapper
{
    .project_tag
    {
        font: $semi-weight $little-size $mono-font, monospace;
    }
    .project_title
    {
        font: $bold-weight $Medium-size $sans-font, sans-serif;
        @include media(">tablet-big")
        {
            &.featured_project_text { font-size: $Large-size; }
            &.large_project_text { font-size: $large-size; }
        }
        @include media(">tablet", "<=tablet-big")
        {
            &.featured_project_text { font-size: $large-size; }
        }
    }

    .project_description
    {
        font: $regular-weight $regular-size $sans-font, sans-serif;
        line-height: $line-height-medium;
        @include media(">tablet-big")
        {
            &.featured_project_text { font-size: $Regular-size; }
            &.featured_large_text { font-size: $regular-size; }
            
        }
        @include media(">tablet", "<=tablet-big")
        {
            &.featured_project_text { font-size: $regular-size; }
        }
    }

    .project_languages
    {
        font: $regular-weight $small-size $mono-font, monospace;
        @include media(">tablet-big")
        {
            &.featured_project_text { font-size: $regular-size; }
            &.large_project_text { font-size: $Small-size; }
            
        }
        @include media(">tablet", "<=tablet-big")
        {
            &.featured_project_text { font-size: $Small-size; }
        }
    }
    
    .wip_label
    {
        font: $regular-weight $Little-size $mono-font, monospace;
    }
    
    .links_list
    {
        font: $semi-weight $Little-size $mono-font, monospace;
    }
}

// $ Inbox ====================================================================

#inbox
{
    .msgli
    {
        &.sender
        {
            font: $bold-weight $regular-size $sans-font, sans-serif;
        }
        &.time
        {
            font: $medium-weight $little-size $sans-font, sans-serif;
        }
        &.subject
        {
            font: $semi-weight $Little-size $sans-font, sans-serif;
        }
    }

    #message
    {
        font: $regular-weight $regular-size $sans-font, sans-serif;
        .msgbtn
        {
            font: $medium-weight $Little-size $sans-font, sans-serif;
        }
    }
    .empty_list, .empty_message
    {
        font: $medium-weight $regular-size $sans-font, sans-serif;
    }
}

// $ Pagination ===============================================================

.pagination
{
    .pagination_icon,
    .pagination_button
    {
        font: $medium-weight $small-size $sans-font, sans-serif;
    }
}

// $ Inputs ===================================================================
.input_wrapper
{
    font: $regular-weight $regular-size $sans-font, sans-serif;
}

.text_label
{
    font: $medium-weight $Little-size $sans-font, sans-serif;
}

.editor_wrapper .editor_area
{
    font: $regular-weight $regular-size $mono-font, monospace;
}

textarea, input[type=text], input[type=password], input[type=date]
{
    font: $medium-weight $regular-size $sans-font, sans-serif;
}

input[type=checkbox]
{
    &::after
    {
        font-size: $regular-size;
    }
}

.checkbox_label
{
    font: $regular-weight $small-size $sans-font, sans-serif;
}

// $ Footer ===================================================================

#footer .footer_label
{
    font: $semi-weight $little-size $mono-font, monospace;
}

// $ Header ===================================================================

#header
{
    .header_title
    {
        font: $bold-weight $medium-size $sans-font, sans-serif;
    }
    .header_item
    {
        font: $medium-weight $Little-size $mono-font, monospace;
    }
}

// $ Error 404 Page ===========================================================

#pagenotfound
{
    .title
    {
        font: $black-weight $gigantic-size $mono-font, monospace;
    }
    .subtitle
    {
        font: $medium-weight $large-size $mono-font, monospace;
    }
    .home_btn
    {
        font: $light-weight $regular-size $mono-font, monospace !important;
    }
}

// $ Loader ===================================================================

#loader .loading_text
{
    font: $light-weight $large-size $sans-font, sans-serif;
}

// $ Admin Dashboard ==========================================================

.admin
{
    .category_title
    {
        font: $semi-weight $medium-size $sans-font, sans-serif;
    }
    .message
    {
        font: $regular-weight $regular-size $sans-font, sans-serif;
    }
}

#admin_banner
{
    .banner_wrapper
    {
        .banner_buttons
        {
            :nth-child(n)
            {
                font-size: $little-size;
            }
        }    
        .pre { font-size: $small-size; }
        
        .my_name{ font-size: $large-size; }
        
        .my_title { font-size: $Medium-size; } 
    }
}

#admin_projects_list .project_item_title
{
    font: $regular-weight $regular-size $sans-font, sans-serif;
}

// $ Blog (not including markdown) ============================================

#blog
{
    #blog_edit_button
    {
        font: $medium-weight $Small-size $mono-font, monospace;
    }
    #blog_title
    {
        font: $bold-weight $Huge-size $serif-font, serif;
    }
    .info_item
    {
        font: $regular-weight $small-size $serif-font, serif;
    }
}

// $ Editing Blog =============================================================

#edit_blog .blog_title_field input
{
    font: $medium-weight $large-size $serif-font, serif;
}

// $ Blog List ================================================================

#blogslist
{
    .blogs_list_options
    {
        font: $medium-weight $small-size $sans-font, sans-serif;
    }
    .blogs_per_page li button
    {
        font: $medium-weight $small-size $sans-font, sans-serif;
        &.selected
        {
            font: $semi-weight $small-size $sans-font, sans-serif;
        }
    }
    .blogs_list_item.create_new
    {
        font: $medium-weight $Small-size $mono-font, monospace;
    }
    .blogs_list_tag
    {
        font: $semi-weight $Tiny-size $mono-font, monospace;

    }
    .blogs_list_title
    {
        font: $medium-weight $medium-size $sans-font, sans-serif;
    }

}

// $ Login & Register =========================================================

#login, #register
{
    .banner
    {
        font: $semi-weight $small-size $sans-font, sans-serif;
        line-height: 1.5;
    }
}